
.body{
    background: linear-gradient(rgb(152, 221, 233), rgb(150, 206, 150));
    height: 800px;
}

h1 {
    font-size: 50px;
    font-family: Ariel, sans-serif;
}

input{
	height: 150px ;
	width: 800px;
	margin: auto;
	background: linear-gradient(rgb(152, 221, 233), rgb(150, 206, 150));
	border: black;
	border-radius: 50px;
	font-size: 80px ;
	text-align: center;
}

button{
	height: 150px ;
	width: 800px;
	background: linear-gradient(rgb(152, 221, 233), rgb(150, 206, 150));
	border: black;
	border-radius: 50px;
	font-size: 80px ;
}

.text{

font-size: 20px;
font-family: Ariel, sans-serif;
}

.error{

font-size: 50px;
font-family: Ariel, sans-serif;
text-align: center;
color: red;
}


.end{
	height: 200px;
	font-size: 20px;
	font-family: Ariel, sans-serif;
	}